<table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Role Name</th>
        <th scope="col">Action</th>
  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Group Captain Male</th>
        <td><span class="fa fa-trash"></span></td>
      </tr>
      <tr>
        <th scope="row">Group Captain Female</th>
        <td><span class="fa fa-trash"></span></td>
  
      </tr>
      <tr>
        <th scope="row">Co-Ordinator</th>
        <td><span class="fa fa-trash"></span></td>
  
      </tr>
      <tr>
        <th scope="row">Volunteer</th>
        <td><span class="fa fa-trash"></span></td>
  
      </tr>
    </tbody>
  </table>