.main-container{
    .dashboard-welcome{
        margin-top: 61px;
        h3{
            padding: 13px 40px;
            font-size: 18px;
            background-color: #ffffff;
            font-weight: 500;
        }
    }
}