<div class="sa-dashboard-container">
    <div class="sa-score-card">
  
      <div class="sa-table-title">
        <p>Org Score Card</p>
      </div>
  
      <div class="sa-table table-responsive">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th scope="col">Event Categories</th>
              <td scope="col">Team 1</td>
              <td scope="col">Team 2</td>
              <td scope="col">Team 3</td>
              <td scope="col">Team 4</td>
              <td scope="col">Team 5</td>
              <td scope="col">Team 6</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Organization Initiatives</td>
              <td>550</td>
              <td>600</td>
              <td>500</td>
              <td>575</td>
              <td>475</td>
              <td>490</td>
            </tr>
            <tr>
              <td scope="row">Cultural Trophy</td>
              <td>225</td>
              <td>275</td>
              <td>200</td>
              <td>250</td>
              <td>225</td>
              <td>265</td>
            </tr>
            <tr>
              <td scope="row">Quaterly Awards</td>
              <td>550</td>
              <td>600</td>
              <td>500</td>
              <td>575</td>
              <td>475</td>
              <td>490</td>
            </tr>
            <tr>
              <td scope="row">Sports Trophy</td>
              <td>550</td>
              <td>600</td>
              <td>500</td>
              <td>575</td>
              <td>475</td>
              <td>490</td>
            </tr>
            <tr>
              <th scope="row">Total</th>
              <th>1300</th>
              <th>1350</th>
              <th>1225</th>
              <th>1320</th>
              <th>1100</th>
              <th>1205</th>
            </tr>
          </tbody>
          </table>
      </div>
    </div>
  
    <div class="sa-carousel">
      <app-carousel></app-carousel>
    </div>
  
    <div class="sa-details row">
      <div class="col-6">
        this is accordion
      </div>
  
      <div class="col sa-chart">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>