.header-container{
    background-color: #464547;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            color: #FFFFFF;
            font-family: -apple-system, BlinkMacSystemFont,
            'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            cursor: pointer;
        }
    }
    .left-menu{
        ul{
            li{
                float: left;
                padding: 16px 32px;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
                i{
                    vertical-align: bottom;
                    font-size: 28px;
                }
            }
        }
    }

    .right-menu{
        ul{
            li{
                float: right;
                padding: 20px 30px;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                i{
                    vertical-align: bottom;
                    font-size: 34px;
                }
                &.active{
                    color: #76CDD8;
                }
                &.menu-icon{
                    padding: 14px 7px 0 7px;
                }
                &.profile-icon{
                    margin: 12px 0 0 63px;
                    padding: 0;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    background: ghostwhite;
                }
            }
        }
    }
}