<div class="header-container clearfix">
  <div class="left-menu float-left">
    <ul class="clearfix">
      <li>
        <i class="material-icons">bug_report</i>
        <span>Together</span>
      </li>
      <li>About</li>
      <li>Rules</li>
      <li><a routerLink="/superAdmin/Manage">Manage</a>
      </li>
    </ul>
  </div>

  <div class="right-menu float-right">
    <ul class="clearfix">
      <li class="menu-icon"><i class="material-icons">apps</i></li>
      <li class="profile-icon"><i class="material-icons">person</i></li>
      <li>landing page</li>
      <li>individual</li>
      <li>group head</li>
      <li class="active">super admin</li>
    </ul>
  </div>
</div>